<ul class="nav nav-tabs">
  <li class="nav-item"><a href="<%= plan_schedules_path %>" class="nav-link <%= "active" if current_page?(plan_schedules_path) %>">1日目 </a></li>
  <li class="nav-item"><a href="<%= day2_plan_schedules_path %>" class="nav-link <%= "active" if current_page?(day2_plan_schedules_path) %>">2日目 </a></li>
  <li class="nav-item"><a href="<%= day3_plan_schedules_path %>" class="nav-link <%= "active" if current_page?(day3_plan_schedules_path) %>">3日目 </a></li>
  <li class="nav-item"><a href="<%= day4_plan_schedules_path %>" class="nav-link <%= "active" if current_page?(day4_plan_schedules_path) %>">4日目 </a></li>
  <li class="nav-item"><a href="<%= day5_plan_schedules_path %>" class="nav-link <%= "active" if current_page?(day5_plan_schedules_path) %>">5日目 </a></li>
  <li class="nav-item"><a href="<%= day6_plan_schedules_path %>" class="nav-link <%= "active" if current_page?(day6_plan_schedules_path) %>">6日目 </a></li>
  <li class="nav-item"><a href="<%= day7_plan_schedules_path %>" class="nav-link <%= "active" if current_page?(day7_plan_schedules_path) %>">7日目 </a></li>
</ul>